body{
    background: #ffffff;
   
}

.justificar-texto{
    text-align: justify;
}

.cent-texto{
    text-align: center;
}

dt{
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
}

dd{
    font-size: 16px;
    font-family: "Mulish", sans-serif;
}

.botao{
    border: 1px solid ;
    border-radius: 8px;
    background-color: #17aa3f;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

.botao:hover{
    cursor: pointer;
    background-color: #4bc76c;
}
.fonte{
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    text-align: center;
}

.imagem .ativo{
    padding: 20px;
    margin: auto;
    border-radius: 8px;
}